<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Technology</mat-label>
      <mat-select [(value)]="selectedTechnology">
        <mat-option *ngFor="let tech of technologies" [value]="tech" >{{tech}}</mat-option>      
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-label>Lead</mat-label>
      <mat-select [(value)]="selectedLead">
        <mat-option *ngFor="let lead of leads" [value]="lead" >{{lead}}</mat-option>
        
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="getFilterList()">Fliter</button>
  </div>
  <div class="col">
    <button mat-raised-button (click)="openAddEditSubForm()">
      Add Submission
    </button>
  </div>
  <div class="col-sm"></div>
</div>

<div class="main-body">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
        <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
      </ng-container>
      <ng-container matColumnDef="technology">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>technology</th>
        <td mat-cell *matCellDef="let row">{{ row.technology }}</td>
      </ng-container>

      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>vendor</th>
        <td mat-cell *matCellDef="let row">{{ row.vendor }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>mobile</th>
        <td mat-cell *matCellDef="let row">{{ row.mobile }}</td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>client</th>
        <td mat-cell *matCellDef="let row">{{ row.client }}</td>
      </ng-container>

      <ng-container matColumnDef="implementation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          implementation
        </th>
        <td mat-cell *matCellDef="let row">{{ row.implementation }}</td>
      </ng-container>

      <ng-container matColumnDef="lead">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>lead</th>
        <td mat-cell *matCellDef="let row">{{ row.lead }}</td>
      </ng-container>

      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>student</th>
        <td mat-cell *matCellDef="let row">{{ row.student }}</td>
      </ng-container>

      <ng-container matColumnDef="recruiter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>recruiter</th>
        <td mat-cell *matCellDef="let row">{{ row.recruiter }}</td>
      </ng-container>

      <ng-container matColumnDef="payrate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>payrate</th>
        <td mat-cell *matCellDef="let row">{{ row.payrate | currency }}/hr</td>
      </ng-container>

      <ng-container matColumnDef="submitted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>submitted</th>
        <td mat-cell *matCellDef="let row">{{ row.submitted }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>

        <td class="d-flex" mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteSub(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
