<nav class="collapse d-lg-block sidebar collapse bg-primary" style="background-color: #e3f2fd;">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="/list" class="nav-link text-white"> Submissions </a>
          </li>
          <li>
            <a href="/form" class="nav-link text-white"> Add Submission </a>
          </li>
        </ul>
      </div>
    </div>
 
</nav>
