<div class="container">
  <form>
    <div class="row mb-2">
      <div class="col-md-3">
        <label for="inputState">Technology</label>
        <select id="inputState" class="form-control">
          <option>Java</option>
          <option>Devops</option>
          <option>SalesForce</option>
          <option>Data Engineering</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputState">Lead Name</label>
        <select id="inputState" class="form-control">
          <option selected>Vinay</option>
          <option>Tejan</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary mt-4">Search</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-info mt-4" (click)="openFormModal()">Add Submission</button>

      </div>
    </div>
  </form>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col">Client</th>
        <th scope="col">Vendor</th>
        <th scope="col">Lead</th>
        <th scope="col">Implementation</th>
        <th scope="col">Submitted</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of list">
        <td>1</td>
        <td>{{i.name}}</td>
        <td>ajayreddykommera@gmail.com</td>
        <td>7639107427</td>
        <td>12/13/2022</td>
        <td>intuit</td>
        <td>Kforce</td>
        <td>Vinay Kumar</td>
        <td>nithyoo Infotech</td>
        <td>Yes</td>
        <td>
          <div class="d-flex justify-content-around">
            <button class="btn btn-warning mt-4">Edit</button>
            <button class="btn btn-danger mt-4">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- model      -->
<div
  class="modal  bd-example-modal-xl"
  tabindex="-1"
  role="dialog"
  id="myModal"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Submission</h4>
      </div>
      <div class="modal-body">
        <div class="container mt-3">
          <form>
            <div class="row mb-2">
              <div class="col-lg-4 mb-6">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" placeholder="Date" />
              </div>
              <div class="col-lg-4 mb-6">
                <label for="inputPassword4">Mobile no.</label>
                <input
                  type="text"
                  class="form-control"
                  id="mobile"
                  placeholder="Mobile Number"
                  value="7639107427"
                />
              </div>
              <div class="col-lg-4 mb-6">
                <label for="inputPassword4">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                />
              </div>
              <div class="col-lg-4 mb-4">
                <label for="vendor">Vendor Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="vendor"
                  placeholder="Vendor Name"
                />
              </div>
              <div class="col-lg-4 mb-4">
                <label for="client">Client Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="client"
                  placeholder="Client Name"
                />
              </div>
              <div class="col-lg-4 mb-4">
                <label for="implementation">Implementation </label>
                <input
                  type="text"
                  class="form-control"
                  id="implementation"
                  placeholder="Implementation "
                />
              </div>
              <div class="col-md-4">
                <label for="inputState">Lead Name</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>vinay</option>
                </select>
              </div>
              <div class="col-lg-4 mb-4">
                <label for="student">Student Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="student"
                  placeholder="Student Name"
                />
              </div>
              <div class="col-lg-4 mb-4">
                <label for="recruiter">Recruiter Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="recruiter"
                  placeholder="Recruiter Name"
                />
              </div>
        
              <div class="col-md-4">
                <label class="col-sm-4 control-label">Is Submitted ?</label>
               
                <div class="col-lg-12">
                 
                  <label class="radio-inline mx-4">
                    <input
                      type="radio"
                      name="season"
                      id="seasonWinter"
                      value="winter"
                    />
                    Yes
                  </label>
                  <label class="radio-inline mx-4">
                    <input
                      type="radio"
                      name="season"
                      id="seasonSpringFall"
                      value="spring-fall"
                      
                    />
                    No
                  </label>
                </div>
              </div>
            </div>
        
          </form>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" 
        (click)="saveSomeThing()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
