<div class="container">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col">Client</th>
        <th scope="col">Vendor</th>
        <th scope="col">Lead</th>
        <th scope="col">Implementation</th>
        <th scope="col">Submitted</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Ajay Reddy Kommera</td>
        <td>ajayreddykommera@gmail.com</td>
        <td>7639107427</td>
        <td>12/13/2022</td>
        <td>intuit</td>
        <td>Kforce</td>
        <td>Vinay Kumar</td>
        <th>nithyoo Infotech</th>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</div>
